
Sportbot/FormulaE 2019-2020 R07 Berlin E-Prix Race 1080p WEB x264-BaNHaMMER/INFO_FormulaE 2019-2020 R07 Berlin E-Prix Race 1080p WEB x264-BaNHaMMER.txt

Sportbot/Fussball Serie A 2019-2020 37 Spieltag FC Parma vs Atalanta Bergamo German HDTVRiP x264-SPORTY/fussball.serie.a.2019-2020.37.spieltag.fc.parma.vs.atalanta.bergamo.german.hdtvrip.x264-sporty.nfo

Sportbot/Fussball Serie A 2019-2020 37 Spieltag FC Parma vs Atalanta Bergamo German HDTVRiP x264-SPORTY/INFO_Fussball Serie A 2019-2020 37 Spieltag FC Parma vs Atalanta Bergamo German HDTVRiP x264-SPORTY.txt

Sportbot/Fussball Serie A 2019-2020 37 Spieltag Inter Mailand vs SSC Neapel German HDTVRiP x264-SPORTY/fussball.serie.a.2019-2020.37.spieltag.inter.mailand.vs.ssc.neapel.german.hdtvrip.x264-sporty.nfo

Sportbot/Fussball Serie A 2019-2020 37 Spieltag Inter Mailand vs SSC Neapel German HDTVRiP x264-SPORTY/INFO_Fussball Serie A 2019-2020 37 Spieltag Inter Mailand vs SSC Neapel German HDTVRiP x264-SPORTY.txt

Sportbot/config.json
